<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="../static/main.css" rel="stylesheet" type="text/css"/>
    <title>Spotify Boredom Reducer</title>
</head>
<body>
<div id="wrapper">


<div id="title">
    <p>Spotify</p>
    <p>Boredom</p>
    <p>Reducer</p>
</div>

<div id="form">
    <div>
        <div id="search_group">
            <label for="query_type">
                What are you searching for?
            </label>
            <select id="query_type" class="form_input_text" name="search_item">
              <!--
                <option value="album">Album</option>
                <option value="artist">Artist</option>
                <option value="playlist">Playlist</option>
              -->
              <option value="track">Track</option>
            </select>
        </div>
        <div id="query_group">
            <label for="query_text">
                What is it called?
            </label>
            <input id="query_text" class="form_input_text" name="query_text" type="text" maxlength="40" />
        </div>
    </div>
    <p>
        <input id="submit" class="form_button" name="submit" type="button" value="Get Songs" />
        <input id="clear_form" class="form_button" name="clear_form" type="button" value="Clear" />
    </p>
</div>

<audio id="player" controls="" name="media">
    <source id="song" src="" type="audio/mpeg">
</audio>

<div id="suggested_songs">
    <p id="song1" class="songs">
        <img class="album_image" src="" alt="" />
        <span class="song_name"></span>
        <span class="artist_name"></span>
        <a href="" class="preview_link">Link to Spotify</a>
    </p>
    <p id="song2" class="songs">
        <img class="album_image" src="" alt="" />
        <span class="song_name"></span>
        <span class="artist_name"></span>
        <a href="" class="preview_link">Link to Spotify</a>
    </p>
    <p id="song3" class="songs">
        <img class="album_image" src="" alt="" />
        <span class="song_name"></span>
        <span class="artist_name"></span>
        <a href="" class="preview_link">Link to Spotify</a>
    </p>
    <p id="song4" class="songs">
        <img class="album_image" src="" alt="" />
        <span class="song_name"></span>
        <span class="artist_name"></span>
        <a href="" class="preview_link">Link to Spotify</a>
    </p>
    <p id="song5" class="songs">
        <img class="album_image" src="" alt="" />
        <span class="song_name"></span>
        <span class="artist_name"></span>
        <a href="" class="preview_link">Link to Spotify</a>
    </p>
</div>


</div>

<script type="text/javascript" src="../static/form_handler.js"></script>
</body>
</html>

